<a href="https://colab.research.google.com/github/gob1thaasan/Intro2DataScience/blob/main/lab1_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Pengenalan Kepada Sains Data(MDA3003)**

**INTRODUCTION TO DATA SCIENCE(MDA3003)**


>R.U.Gobithaasan (2022). Fountation of Data Science, Lectures for Undergraduate Degree Program B.Sc (Data Analytics), Faculty of Ocean Engineering Technology, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/


<p align="center">
     © 2022 R.U. Gobithaasan All Rights Reserved.

</p>

## Lab 1

## Fill up the following declaration details:
**I certify that this report is my own work, based on my personal study and/or research. I also certify that this report has not previously been submitted for assessment in any other unit, and that I have not copied in part or whole or otherwise plagiarised the work of other students and/or persons.**
- Name:
- Matrix Number: 
- Date:

## General Instruction:
Let say your matrix number is S54321. For computation below, ignore the first letter and use your matrix number by letting $\mathbf{(\alpha , \beta, \gamma, \kappa, \lambda) =(5,4,3,2,1)}$. Hence replace explicitly the values of greek letters as $\alpha = 5, \beta = 4, \gamma = 3, \kappa = 2, \lambda =1$.


For example:

**Q0.** Compute $(\beta * \gamma * \kappa)+{\lambda})$:

In [ ]:
(4*3*2)+1

25

## Name your file as follows before submiting via pembelajaran.umt.edu.my
- save as **matrixnumber-labnumber.ipynb**: for example **S54321-LAB1.ipynb**

# Lab 1: Introduction to Python

### 1.1 Elementary Data Types

<b>Q1: What is the data type of the following variables?</b>

1. x = $\beta$ <br>
2. y = true <br>
3. z = $\alpha.\gamma$ <br>
4. s = "This is a string" <br>

<b>Q2: Perform the following arithmetic operations<b>
    
1. Let $x = \gamma$. Find <br>
a. $x+4$ <br>
b. $ x\times 4$ <br>
c. $ x=x+2 $ <br>
d. $ x = x\times 4$ <br>
e. the remainder of $x \div 4$ <br>
    
2. Let $z = 3.7$. Find <br>
a. $z - 2$ <br>
b. $z \div3 $ <br>
c. nearest integer value when $z \div 3$ <br>
d. $z^2$ <br>
e. $\sqrt{z^2}$  <br>
f. $z^2$ (use `pow()`) <br>
g. round off $z$ to its nearest integer <br>
h. integer of $z$ <br>

<b>Q3 : Using `math` module find <b>
    
1. Let $x = γ$; <br>
a. $\sqrt{x}$ <br>
b. $x^2$ <br>
c. $e^x$<br>
d. $ \log _{2}x$ <br>
e. $ |-x|$ <br>
f. $x!$ <br>
    
2. Let $z = 0.2$ <br>
a. the smallest integer greater than or equal to $z$ <br>
b. the largest integer not greater than $z$  <br>
c. the interger part of $z$ <br>
    
3. Let $z = β{\pi}$  <br>
a. $sin(z)$ <br>
b. $tanh(z)$ <br>
    
4. Let $x = nan$ and check is it numeric data type <br>
    
5. Let $x = \infty$ and check whether it is infinite or not <br>

<b> Q4 : If y1 = True and y2 = False, find the following logical operators
    
1. y1 AND y2 <br>
2. y1 OR y2 <br>
3. y1 NOT y2 <br>

<b>Q5 : For the given string excute the following statements.
    
1. String 1 is 'This'; <br>
a. print the last three characters <br>
b. find the lenght of the string <br> 
c. Print 'Lenght of string is' along with the lenght of string <br>
d. convert all the characters to upper case <br>
e. convert all the characters to lower case <br>
     
2. String 2 is 'This is a string'; <br>
a. print the first word of the string  <br>
b. replace 'a' with 'another' <br>
c. replace 'is' with 'at' <br>
d. find the position of 'a' <br>
  
4. Using comparison operator find the following statements are true or false <br>
a. String 1 is substring of String 2. <br>
b. 'This' present in String 1. <br>
c. 'That' is smaller than String 1. <br>
    
5. Replicate String 1 three times. <br>

### 1.2 Data Types or called Containers

<b> Q6 : Execute the following statements. <b>
    
1. Given intlist = [1,3,4,7,9] <br>
a. What is the data type of the given sequence <br>
b. Find the third elements from the list <br>
c. Find the last three elements from the list <br>
d. How many elements present in the list <br>
e. What is the sum of all the element in the list <br>
d. Insert  '11' to the list and then remove added element  <br>
e. Concatenate [11,13,15] to the given list  <br>
f. Replicate the list three times  <br>
g. Replace the second element with 4<br>
f. Sort elements of the given list in decending order  <br>
     
2. Create a list between 0 and 10 with the stepsize of two. (Name the list intlist2)

<b> Q7 :  Given mylist = ['this', 'is', 'a', 'list']. <b>
    
1. What is the data type of the given string sequence <br> 
2. Check the element 'list' is whether present in the given sequence <br>
3. What is the third element of the list <br>
4. What is the first two element of the list <br>
5. What is the last two element of the list <br>
6. Insert the element 'too' into the given list <br>
7. Remove the 'is' element from the list created in previous statement <br>

<b> Q8 :  Write a Python dictionary to abbreviate the following string. <b>
    
'Michigan' as 'MI'; 'Minnesota' as 'MN'; 'Texas' as 'TX'; 'California' as 'CA'. Then execute the following statement 
    
1. Get the dictionary key as list <br>
2. Get the values of dictionary as list <br>
3. What is the abbrevation of 'MI' <br>
4. Does the abbrevation of 'FI' is enlisted in the dictionary <br>
5. Does the abbrevation of 'CA' is enlisted in the dictionary <br>

<b> Q9 : Given keys = ['apples', 'oranges', 'bananas', 'cherries'] and values = [α, β, γ, κ] <b>
    
1. Convert the two given list into a dictionary (define the new dictionary as fruits) <br>
2. Sort the keys from the 'fruits' dictionary <br>
3. Sort the items in 'fruits' dictionary by keys in ascending order <br>
4. Sort the items in 'fruits' dictionary by values in ascending order <br>

<b> Q10 : Create tuple for the given list <b> 
    
    i.   MItuple = MI, Michigan, Lansing
    ii.  CAtuple = CA, California, Sacramento
    iii. TXtuple = TX, Texas, Austin
    
1. Slice the second and third element from MItuple <br>
2. Create a list of tuples using i, ii, iii and deifine it as states <br>
3. What is the third element in the list of states <br>
4. List down all the sub-elements in the third element of states <br>
5. Slice the first sub-elements of the third element in states <br>
6. Sort all the element in states by their capital cities in ascending order <br>

<b> Q11 : Execute the following statements<b> 
    
1. Create y0 as an empty set and print y0.
2. Given y1 = {'c', 'd', 'e', 'f','e'}; y2 = {'x','c','d', 'f', 'e'}; y3 = {'c','a','t'} <br>
a. print y1 <br>
b. what is the data type of y1 <br>
c. 'd' is an element of y1. Is the statement true?<br>
d. y1 is equals to y2. Is the statement true?<br>
e. Find the common element in y2 and y3 <br>

<b> Q12 : Given x=10, write a code to check whether the given number is <b>
    
1. even or odd using if else statement.
2. negative, positive or zero using `if-elif-else` statement.

<b> Q13 : Execute the following statements <b>
    
1. a. Given a list of string, mylist =  ['this', 'is', 'a', 'list']. Using `for` loop write a program to replace 'is' with 'at' in the mylist. 
    
     b. Using for loop find the number of character of each element in the mylist 
    
2. Given a list of tuples, states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin')]. Using for loop list find the capital os each state and sort it in ascending order.

<b> Q14: Let mylist = list(range(-10,10)). Create a while statement to print all the element in the list with an increment of 1. And then find the first non-negative element in the list. (Intialization : i=0) <b>

### 1.4 User-Defined Functions

<b> Q15 : Create function named `message` with output of "Selamat Datang Ke UMT"<b>

<b> Q16 : Write a function to perform a query on even number. The Function should return a boolean output: True if the given number is even, else the output is False. Find the following values are even or not  <b>
    
1. 3
2. 40
3. 3.2

<b> Q17 : Represent $f2(x,y,z) = \beta x^2+y^3+ \gamma \sqrt{z}$  in the form of a function in Python and  find $f2(x)$
    when $x=2$, $y=3$, $z=4$ and $x=3$, $y=5$,  $z=2.4$ <b>

<b> Q18 : Represent $f3(x) = {3}{x^2}-{2}{x}+ \gamma$ in the form of a function in Python and find $f3(x)$  when $x=3$ and $x=2$ <b>

<b> Q19 : Execute the following statements<b>
    
1. Load iris data
2. Create a dataframe
3. Print the last 5 rows from the iris data
4. extract the row entitled 'sepal length (cm)' and find it's data type
5. What is the mean and standard deviation of the sepal length 
6. Compute basic statistics of the numerical data of iris data
7. Plot a histogram of sepal length
8. Plot a  scatter plot with  'sepal width (cm)' vs 'sepal length (cm)' <br>
     <i>(Note: let x-axis be the sepal length  y-axis be the sepal width)
9. Plot line graph of 'sepal length (cm)' and 'sepal width (cm)' in one figure. <br>
     <i>(Note: let x-axis be the observations y-axis be the Sepal Length / Sepal Width. Please inclue the legends )

## Bonus
<b> Q20 : Given states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]. Write and read the list of tuples as a text file.  <b>
    
<i>**Note the output should follow this "State = Name of the state (abbreviation) Capital: Capital of the state"