
**Pengenalan Kepada Sains Data (MDA3003)**

**INTRODUCTION TO DATA SCIENCE (MDA3003)**


>R.U.Gobithaasan (2022). Fountation of Data Science, Lectures for Undergraduate Degree Program B.Sc (Data Analytics), Faculty of Ocean Engineering Technology, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/


<p align="center">
     Â© 2022 R.U. Gobithaasan All Rights Reserved.

</p>

## Fill up the following declaration details:
**I certify that this report is my own work, based on my personal study and/or research. I also certify that this report has not previously been submitted for assessment in any other unit, and that I have not copied in part or whole or otherwise plagiarised the work of other students and/or persons.**
- Name:
- Matrix Number: 
- Date:

## Name your file as follows before submiting via pembelajaran.umt.edu.my
- save as **matrixnumber-labnumber.ipynb**: for example **S54321-LAB1.ipynb**

# Lab 1: Introduction to Python

1. Python Prelimineries <br>
    a) Python installation  <br>
    b) Using Jupyter lab <br>
    c) Markdown Cells <br>
    d) Scientific Python Ecosystem <br>
2. Intro Python <br>
    a) Data Types <br>
    b) Control flow statement <br>
    c) User-Defined Functions <br>
    d) File handling

## Python Prelimineries

**References:** 
- [w3schools Online Materials](https://www.w3schools.com/python/)
-  [SciPi Lecture Notes](http://scipy-lectures.org/)
- Robert Johansson, Numerical Python: Scientific Computing and Data Science Applications with Numpy, SciPy and Matplotlib (2019, Apress).
- Donaldson Toby,Python: Visual QuickStart Guide (2008, Peachpit Press).
- Tony Gaddis-Starting Out with Python,(2018,Global Edition-Pearson Education)
- Robert Johansson August, Introduction to Scientific Computing in Python Continuum Analytics, (2015)

### Some shortcuts for formatting notebook

# Command line reference
Click on this link to see all the commands available: 
- [Windows commands](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/windows-commands)
- [Mac](https://developer.apple.com/library/archive/documentation/OpenSource/Conceptual/ShellScripting/CommandLInePrimer/CommandLine.html)

- you can run the command lines in python cell by adding ! in front of the command

# Using Jupyter Notebook

Depending the way you install Python and its location, you may run the following comannd in command prompt to run jupyter notebook or jupyterlab:

- to run notebook, use any of this command:
> - `py -m notebook`
> - `python -m notebook`
> - `jupyter notebook`

-to run jupyterlab:
> - `py -m jupyterlab`
> - `jupyter-lab`

Reference: [StackOverFlow](https://stackoverflow.com/questions/41034866/running-jupyter-via-command-line-on-windows)

In [ ]:
!which python #for Mac/Linux

/c/Program Files/Python38/python

which: no #for in (/c/Users/Apple/bin:/mingw64/bin:/usr/local/bin:/usr/bin:/usr/bin:/mingw64/bin:/usr/bin:/c/Users/Apple/bin:/c/Python39/Scripts:/c/Python39:/c/Program Files/Python38/Scripts:/c/Program Files/Python38:/c/WINDOWS/system32:/c/WINDOWS:/c/WINDOWS/System32/Wbem:/c/WINDOWS/System32/WindowsPowerShell/v1.0:/c/WINDOWS/System32/OpenSSH:/c/Program Files/MiKTeX/miktex/bin/x64:/cmd:/c/Program Files/Wolfram Research/WolframScript:/c/Program Files/nodejs:/c/ProgramData/chocolatey/bin:/c/Users/Apple/AppData/Local/Microsoft/WindowsApps:/c/Users/Apple/AppData/Roaming/npm:/usr/bin/vendor_perl:/usr/bin/core_perl)
which: no Linux in (./Mac)

 - b: Create a new cell below the currently selected cell. 
- a: Create a new cell above the currently selected cell. 
- d-d Delete the currently selected cell.
- 1 to 6: Heading cell of level 1 to 6.
- x: Cut currently selected cell.
- c: Copy currently selected cell. 
- v: Paste cell from the clipboard. 
- m: Convert a cell to a markdown cell. 
- y: Convert a cell to a code cell. 
- Up: Select previous cell.
- Down: Select next cell.
- Enter: Enter edit mode.
- Escape: Exit edit mode.
- Shift-Enter: Run the cell.
- h: Display a help window with a list of all available keyboard shortcuts.
- 0-0: Restart the kernel. 
- i-i: Interrupt an executing cell. 
- s: Save the notebook.

### Markdown Cells

Fonts:

- italics: *text*
- bold: **text**
- stike-through: ~~text~~
- fixed-width: `text`
- url: [URL text](https://www.google.com.my/maps/)
- Vertatim( with tab):

        def func(x):
            return x ** 2
            
- New paragraph: with an empty line.

- Types of headers:

# Level 1 heading 
## Level 2 heading 
### Level 3 heading

- Block quote:
> Text here is indented and offset
> from the main text body.

- Unordered list (use - or * ):
* Item one
* Item two
* Item three

- Ordered list:
1. Item one
2. Item two
3. Item three

Table:

| A | B | C | 
|---|---|---| 
|1|2|3 | 
|4|5|6 |

- image: local machine

`![Alternative text](https://github.com/gob1thaasan/ScientificComputingWithPython/blob/main/NotebookLectures/figures/python-logo.png?raw=1)`

![Alternative text](figures/python-logo.png)

- image: internet

`![Alternative text](https://www.python.org/static/img/python-logo.png)`

### Inline LateX equation:

$f2(x,y,z) = x^2 + y^3 + \sqrt{z}$

- Displayed LateX equation. See some examples at [Latex Cookbook](http://www.personal.ceu.hu/tex/cookbook.html)

\begin{eqnarray}
 y &=& x^4 + 4      \nonumber \\
   &=& (x^2+2)^2 -4x^2 \nonumber \\
   &\le&(x^2+2)^2
\end{eqnarray}

- colored boxes

<div class="alert alert-block alert-info">
<b>Tip:</b> Use blue boxes (alert-info) for tips and notes. 
If itâs a note, you donât have to include the word âNoteâ.
</div>

<div class="alert alert-block alert-warning">
<b>Example:</b> Use yellow boxes for examples that are not 
inside code cells, or use for mathematical formulas if needed.
</div>

<div class="alert alert-block alert-success">
<b>Up to you:</b> Use green boxes sparingly, and only for some specific 
purpose that the other boxes can't cover. For example, if you have a lot 
of related content to link to, maybe you decide to use green boxes for 
related links from each section of a notebook.
</div>

<div class="alert alert-block alert-danger">
<b>Just don't:</b> In general, avoid the red boxes. These should only be
used for actions that might cause data loss or another major issue.
</div>

- simple [geometric shapes](https://www.w3schools.com/charsets/ref_utf_geometric.asp)

<p>I will display a :</p>

1. triangle: &#9658;
2. black box &#9726;
3. white box &#9634;

## Scientific Python Ecosystem

What is a Python module/package/library?

its also known as a package or library with written python functions available so that we directly use them.

The Python Package Index (PyPI) is a repository of software for the Python programming language. Many packages can directly be loaded in your machine.


run command: 
> python -m pip install *module*

where *module* is the name of the module you want to install. For example to install a module called **pandas**:
> python -m pip install pandas

Core numeric libraries
- **Numpy**: numerical computing with powerful numerical arrays objects, and routines to manip-
ulate them. [Numpy](http://www.numpy.org/) 

- **Scipy**: high-level numerical routines. Optimization, regression, interpolation, etc. [Scipy](http://www.scipy.org/)

- **Matplotlib**: 2-D visualization, âpublication-readyâ plots [Matplotlib](http://matplotlib.org/)

source: [SciPi Lecture Notes](http://scipy-lectures.org/)

#### Example

In [2]:
import numpy
import math
import matplotlib

!python -m pip install *module*   #For Windows

#!pip freeze | (grep 'matplotlib\|numpy\|jupyter\|scipy') # For MAC and linux

### Loaded Modules

In [10]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (22.3)

In [7]:
!python -m pip install numpy

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (1.23.3)

## Introduction to Python

### 1.1 Elementary Data Types

The standard Python library provides support for various elementary data types, including including integers, booleans, floating points, and strings. A summary of the data types is shown in the table below.

| &nbsp;  |      Data Type    |   Example   |  Function      |
|:--------|:-----------------:|:------------|:-------------  |
|Number   | Integer           | x = 4       | `int`            | 
| &nbsp;  | Floating point    | x = 3.142   | `float`          |
| &nbsp;  | Boolean           | x = True    | `bool`           |
|Text     | Character         | x = 'c'     | `str`            |
| &nbsp;  | String            | x = "this" or x = 'this' | `str` |
|Sequence | List        | mylist = ["apple", "banana", "cherry"]     | `list`            |
| &nbsp;  |Tuple        |mytuple = ("apple", "banana", "cherry")    | `tuple`            |
| Mapping |Dictionaries        |thisdict = { "brand": "Ford","model": "Mustang","year": 1964}    | `dict`            |

#### (A) Getting the Data Type
You can get the data type of any object by using the `type()` function:

In [5]:
x = 4 
print(x , type(x))

s = "This is a string" 
print(s , type(s))

4 <class 'int'>
This is a string <class 'str'>

#### (B) To set a Specific Data Type

In [55]:
x = int(4)

print(x)

z = str("name")
print (z)

4
name

#### (C) Arithmetic operations

|Operator |Name|Example|
|:--------|:-----------------:|:------------|
|+|Addition|x + y|
|-|Subtraction|x - y|
|*|Multiplication|x * y|
|/|Division|x / y|
|%|Modulus|x % y|
|**|Exponentiation|x ** y|
|//|Floor division|x // y|

To round of use `round()` function

**The following are some of the arithmetic operations available for manipulating integers and floating point numbers**

In [98]:
x = 4            # integer
y = 7.6          # floating point number

x1 = x + y       # addition
x2 = x * y       # multiplication
x += 2           # equivalent to x = x + 2
x3 = x      
x *= 3           # equivalent to x = x * 3
x4 = x
x5 = x % 3       # modulo (remainder) operator

y1 = y / 3       # division
y2 = y // 3      # integer division
y3 = y ** 2      # square of z 
y4 = y3 ** 0.5   # square root
y5 = pow(y,2)    # equivalent to square of z
y6 = round(y)    # rounding z to its nearest integer 
y7 = int(y)      # type casting float to int

print (x , x1, x2, x3, x4, x5)
print (y, y1, y2, y3, y4, y5, y6, y7)

18 11.6 30.4 6 18 0
7.6 2.533333333333333 2.0 57.76 7.6 57.76 8 7

#### (D) Arithmetic operations using `math`

What is a Python module/package/library?
-  its also known as a package or library with written python functions available so that we directly use them. 

-  [The Python Package Index (PyPI)](https://pypi.org/) is a repository of software for the Python programming language. Many packages can directly be loaded in your machine.

The following are some of the functions provided by the **math module** for integers and floating point numbers.

|Name|Funtion| Example
|:--------|:-----------------:|-----:|
|Squareroot |`math.sqrt( )`|$\sqrt{x}$|
|Square|`math.pow(base,exponent)`|  $x^2$| 
|Exponentia|`math.exp()`| $e^x$ |
|Logarithm|`math.log(variable,base)`|  $\log _{2}x$|
|Modulus|`math.fabs()`| $ |-x|$ |
|Factorial|`math.factorial()`| $x!$ <br>|
|Checks whether a number is infinite or not|`math.isinf()` | $x = \infty$|
|Checks whether a value is NaN (not a number) or not|`math.isnan()`| |
| ${\pi}$ | `math.pi()`|${\pi}$|
| Trigonometry| `math.cos()`| $cos(x)$|

In [100]:
print(math.sqrt(x))      # sqrt(4) = 2
print(math.pow(x,2))     # 4**2 = 16
print(math.exp(x))       # exp(4) = 54.6
print(math.log(x,2))     # log based 2  (default is natural logarithm)
print(math.fabs(-4))     # absolute value
print(math.factorial(x)) # 4! = 4 x 3 x 2 x 1 = 24

4.242640687119285
324.0
65659969.13733051
4.169925001442312
4.0
6402373705728000

In [66]:
#use identity operators

x = math.nan             # not a number
print(math.isnan(x))
print("\n")

x = math.inf             # infinity
print(math.isinf(x))

True


True

The `math.ceil()` method rounds a number upwards to its nearest integer, <br> `math.floor()` method rounds a number downwards to its nearest integer, <br> `math.trunc()` method returns the truncated integer part of a number (truncate: chop of the decimal part)

In [67]:
z = 0.2
print(math.ceil(z))      # ceiling function (to find the smallest integer greater than or equal to z)
print(math.floor(z))     # floor function   (to find the largest integer not greater than z)
print(math.trunc(z))     # truncate function (to find the interger part of $z$)
print("\n")

1
0
0

#### (E) Boolean

**The following show how boolean is used to evaluate logical operator;**  <br>
Evaluate any expression in Python, and get one of two answers, `True` or `False`

|Operator|Description|Example|
|:--------|:-----------------:|:------------|
|and |Returns True if both statements are true|x < 5 and  x < 10|
or|Returns True if one of the statements is true|x < 5 or x < 4|
not|Reverse the result, returns False if the result is true|not(x < 5 and x < 10)|

In [14]:
x = 4

print(x < 5 and x < 10)       # logical AND
print(x < 5 or x < 4)        # logical OR
print(x < 5 and not x < 10)   # logical NOT

True
True
False

**The following are some of the operations and functions for manipulating strings**

In [18]:
s1 = "This  is a string"
print(s1[1:])                    # print last three characters 
print(s1.replace('a','another'))  # replace "a" with "another"
print(len(s1))                               # get the string length
print("Length of string is " + str(len(s1))) # type casting int to str
print(s1.upper())                            # convert to upper case
print(s1.lower())                            # convert to lower case
print(s1.find("a"))               # find the position of "a" in s1
print((s1 + " ")* 3)              # replicate the string 3 times
print("\n")

his  is a string
This  is another string
17
Length of string is 17
THIS  IS A STRING
this  is a string
9
This  is a string This  is a string This  is a string

**The following examples shows how to us comparison operator to find true or false  statements**

In [20]:
s1 = "This  is a string"
s2 = "This"

print(s1 == 'This')               # equality comparison
print(s1 < 'That')                # inequality comparison
print(s2 + " too")                # string concatenation

False
False
This too

### 1.2 Data Types or called Containers


| &nbsp;  |      Data Type    |   Example   |  Function      |
|:--------|:-----------------:|:------------|:-------------  |
|Sequence | List        | mylist = ["apple", "banana", "cherry"]     | `list`            |
| &nbsp;  |Tuple        |mytuple = ("apple", "banana", "cherry")    | `tuple`            |
| Mapping |Dictionaries        |thisdict = { "brand": "Ford","model": "Mustang","year": 1964}    | `dict`            |


**Characteristics of List** <br>

* store multiple items in a single variable
* The items are ordered, changeable and allows duplicates
* items are indexed, the first item has index [0], the second item has index [1] etc.

**Characteristics of Tuple**

* Used to store multiple items in a single variable
* A collection which is ordered and unchangeable
* Written with round brackets

**Characteristics of Dictionary**

* Used to store data values in key:value pairs.
* A collection which is ordered*, changeable and do not allow duplicates.
* written with curly brackets, and have keys and values:

**The following examples show how to create and manipulate a list object**

In [73]:
intlist = [1, 3, 5, 7, 9]


print("\n")
print(intlist[2])                # get the third element of the list

print(sum(intlist))              # sums up elements of the list
print("\n")

intlist.append(11)               # insert 11 to end of the list
print(intlist)
print(intlist.pop())             # remove last element of the list
print(intlist)

print(intlist + [11,13,15])      # concatenate two lists (means conbine two list) 

print(intlist * 3)               # replicate the list

intlist.insert(2,4)              # insert item 4 at index 2  
print(intlist)
intlist.sort(reverse=True)       # sort elements in descending order
print(intlist)

5
25


[1, 3, 5, 7, 9, 11]
11
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]
[1, 3, 4, 5, 7, 9]
[9, 7, 5, 4, 3, 1]

**The following examples show how to create a list between 0 and 12 with the stepsize of two**

In [26]:
print("\n")
intlist2 = list(range(0,12,2))   # range[startvalue, endvalue, stepsize]
print(intlist2)

[0, 2, 4, 6, 8, 10]

**The following examples show how to create and manipulate a dictionary object**

In [97]:
abbrev = {}
abbrev['MI'] = "Michigan"
abbrev['MN'] = "Minnesota"
abbrev['TX'] = "Texas"
abbrev['CA'] = "California"

print(abbrev)
print(abbrev.keys())            # get the keys of the dictionary
print(abbrev.values())          # get the values of the dictionary
print(len(abbrev))              # get number of key-value pairs

print(abbrev.get('MI'))
print("FL" in abbrev)          # to check do "FL" key enlisted in dictionary
print("CA" in abbrev)          # to check do "CA" key enlisted in dictionary

{'MI': 'Michigan', 'MN': 'Minnesota', 'TX': 'Texas', 'CA': 'California'}
dict_keys(['MI', 'MN', 'TX', 'CA'])
dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])
4
Michigan
False
True

In [29]:
keys = ['apples', 'oranges', 'bananas', 'cherries']  #list 1
values = [3, 4, 2, 10]                              #list 2                         
fruits = dict(zip(keys, values))    #define a dictionary 
print(fruits)
print(sorted(fruits))     # sort keys of dictionary

from operator import itemgetter
print(sorted(fruits.items(), key=itemgetter(0)))    # sort by key of dictionary
print(sorted(fruits.items(), key=itemgetter(1)))    # sort by value of dictionary

{'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
['apples', 'bananas', 'cherries', 'oranges']
[('apples', 3), ('bananas', 2), ('cherries', 10), ('oranges', 4)]
[('bananas', 2), ('apples', 3), ('oranges', 4), ('cherries', 10)]

**The following examples show how to create and manipulate a tuple object. Unlike a list, a tuple object is immutable, i.e., they cannot be modified after creation.**

In [69]:
MItuple = ('MI', 'Michigan', 'Lansing')
CAtuple = ('CA', 'California', 'Sacramento')
TXtuple = ('TX', 'Texas', 'Austin')

print(MItuple)
print(MItuple[1:])   #slice the second element

states = [MItuple, CAtuple, TXtuple]    # this will create a list of tuples
print(states)         #
print(states[2])      # second index from states
print(states[2][:])   # to get  all the elements from TXtuple
print(states[2][1:])  # to get last two  elements from TXtuple

states.sort(key=lambda state: state[2])  # sort the states by their capital cities
print(states)

('MI', 'Michigan', 'Lansing')
('Michigan', 'Lansing')
[('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento'), ('TX', 'Texas', 'Austin')]
('TX', 'Texas', 'Austin')
('TX', 'Texas', 'Austin')
('Texas', 'Austin')
[('TX', 'Texas', 'Austin'), ('MI', 'Michigan', 'Lansing'), ('CA', 'California', 'Sacramento')]

**The following examples show how to create and manipulate a set object. Unlike a tuple object, the order of elements in set object is insignificant.

In [70]:
y0 = set() #to define empty set
print(y0)

set()

In [72]:
y1 = {'c', 'd', 'e', 'f','e'} 

print ('d' in y1)  # to find is 'd' in y1
y2 = {'x','c','d', 'f', 'e'}

print (y1 == y2 ) #to find is y1 is equals to y2
 
y3 = {'c','a','t'}  #To find the common element in y2 and y3
y2.intersection(y3)

True
False

{'c'}

### 1.3 Control Flow Statement

* if-else statement
* if-elif-else statement 
    > Decision making is required when we want to execute a code only if a certain condition is satisfied.

* for loop
    > AÂ forÂ loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

* whlie loop 
     > With theÂ whileÂ loop we can execute a set of statements as long as a condition is true

#### if-else and if-elif STATEMENT

if <exprression>:
    <statement A>
else:
    <statement B>
    
    
    
if <exprression>:
    <statement A>
elif:
    <statement B>
else:
    <statement C>

In [35]:
#simple example

a = 33
b = 200
if b > a:
  print("b is greater than a")


a = 333
b = 200
if b < a:
    print("b is smaller than a")
elif b > a:
    print("b is greater than a")
else:
    print("a is equals to b")

b is greater than a
b is smaller than a

In [50]:
x = 10

if x % 2 == 0:
    print("x =", x, "is even")
else:
    print("x =", x, "is odd")
print("\n")

if x > 0:
    print("x =", x, "is positive")
elif x < 0:
    print("x =", x, "is negative")
else:
    print("x =", x, "is neither positive nor negative")

x = 10 is even


x = 10 is positive

#### for LOOP

In [51]:
#simple example

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [39]:
# using for loop with a list

mylist = ['this', 'is', 'a', 'list']
for word in mylist:
    print(word.replace("is", "at"))
    
mylist2 = [len(word) for word in mylist]   # number of characters in each word
print(mylist2)
print("\n")

that
at
a
latt
[4, 2, 1, 4]

In [40]:
# using for loop with list of tuples

states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin')]

sorted_capitals = [state[2] for state in states]
sorted_capitals.sort()
print(sorted_capitals)
print("\n")

['Austin', 'Lansing', 'Sacramento']

In [41]:
# using for loop with dictionary

fruits = {'apples': 3, 'oranges': 4, 'bananas': 2, 'cherries': 10}
fruitnames = [k for (k,v) in fruits.items()]
print(fruitnames)

['apples', 'oranges', 'bananas', 'cherries']

#### while LOOP

In [42]:
#simple example

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [43]:
# using while loop

mylist = list(range(-10,10))
print(mylist)

i = 0
while (mylist[i] < 0):
    i = i + 1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 1.4 User-Defined Functions
You can create your own functions in Python, which can be named or unnamed. Unnamed functions are defined using the lambda keyword as shown in the previous example for sorting a list of tuples. 

 
def function(): <br>
   > statement

In [96]:
# function definition
def Greet(name):
    
    print("Apa Khabar " + name + "!")
    

#function call
Greet('Candace')

Apa Khabar Candace!

<b> The following show how to perform a query on even number. <b>

In [53]:
def QEven(num):
    '''
    Query on even number:
    PRINTS a boolean output for an as integer": true if even number, otherwise false'''
    print(num % 2 == 0)
    
QEven(3)
QEven(60)
QEven(4.2)

False
True
False

**The following shows the how to use user defined function and if-else statement**

In [105]:
def Factorial(x):
    if x == 0:
        return 1
    else:
        return (x) * Factorial(x-1)

x = 6   
print(Factorial(x))

720

<b> Let $f2(x,y,z) = x^2+y^3+\sqrt{z}$. What is $f2(x)$
    when $x=2$, $y=3$, $z=4$ and $x=3$, $y=5$,  $z=2.4$ <b>

In [12]:
def f2(x,y,z):
    from math import sqrt
    return x**2 + y**3 + sqrt(z)

print(f2(2,3,4))
print(f2(3,5,2.4))

33.0
135.54919333848298