# INTRODUCTION TO DATA SCIENCE (MDA3003)**

**Pengenalan Kepada Sains Data (MDA3003)**


>R.U.Gobithaasan (2022). Fountation of Data Science, Lectures for Undergraduate Degree Program B.Sc (Data Analytics), Faculty of Ocean Engineering Technology, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/


<p align="center">
     © 2022 R.U. Gobithaasan All Rights Reserved.

</p>

### Content of this course is adopted from the following books.
  - [Introduction to Data Mining by Pang-ning Tan, Michael Steinbach, Vipin Kumar](https://www-users.cse.umn.edu/~kumar001/dmbook/index.php)
  - [Data Mining and Machine Learning: Fundamental Concepts and Algorithms by
Mohammed J. Zaki and Wagner Meira, Jr](https://dataminingbook.info/)

 - [Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems by Aurélien Géron](https://github.com/ageron/handson-ml2)

  - [Book: Data Science from Scratch First Principles with Python](https://www.oreilly.com/library/view/data-science-from/9781492041122/)
  - [Github: Data Science from Scratch First Principles with Python](https://github.com/joelgrus/data-science-from-scratch)
  - Jesus Rogel-Salazar, Data Science and Analytics with Python, CRC Press, Year: 2017
  - Jesus Rogel-Salazar, Advanced Data Science and Analytics with Python, CRC Press, Year: 2020
  - online ML work by [Jean de Dieu Nyandwi](https://nyandwi.com/machine_learning_complete/)

## Fill up the following declaration details:
**I certify that this report is my own work, based on my personal study and/or research. I also certify that this report has not previously been submitted for assessment in any other unit, and that I have not copied in part or whole or otherwise plagiarised the work of other students and/or persons.**
- Name:
- Matrix Number: 
- Date:

# MARKS

| ATTRIBUTES    | MARKS |
| ----------- | ----------- |
| 1. MODULE/FUNCTION     |       |
| 2. SYNTAX/CODE/ REASONING  |      |
| 3. DOCUMENTATION    |       |


**inaccurate code, didn't achieve final PCA reduction**

<u>Marks For MODULE/FUNCTION:
    
Amateur (+1): Unable to use the right module/function.
Acceptable (+2): Module /function is somewhat suitable.
Admirable (+3): Module /function is suitable and partially solved the problem.
Exceptional (+4): Module /function is are clearly identified and the problem is solved without errors.

<u> Marks For SYNTAX/CODE/ REASONING :
    
Amateur (+1): Code is illogical, simplistic, inconsistent or does not work.
Acceptable (+2): Code contains some elements of logic and/or creative insight.
Admirable (+3): Code is mostly logical, complete, and consistent. Demonstrates some unique or creative insight.
Exceptional (+4): Code is consistently creative, complete and often unique.

<u> Marks For DOCUMENTATION:
    
Amateur (+1): Explanation is not stated or vague.
Acceptable (+2): Able to explain with some justification.
Admirable (+3): Conclusion mostly from results of analysis.
Exceptional (+4): Full justification presented following clear concluding statement. Specifics and multiple perspectives are present.

## General Instruction:
Let say your matrix number is S54321. For computation below, ignore the first letter and use your matrix number by letting $\mathbf{(\alpha , \beta, \gamma, \kappa, \lambda) =(5,4,3,2,1)}$. Hence replace explicitly the values of greek letters as $\alpha = 5, \beta = 4, \gamma = 3, \kappa = 2, \lambda =1$.


For example:

**Q0.** Compute $(\beta * \gamma * \kappa)+{\lambda})$:

# Lab 2: collection preparation, acquisition, cleaning and aggregation of data.

Lab 2 Content:

**1. Data retrival:**
- Using Pandas
- Use Scikit-Learn data
- Download data from internet 
- Use given data

**2. Data Cleaning**
- Missing value identification
- Handling Missing Values
- Data Saving: save your data as CSV


**3. Data exploration**
- Simple plot
- Descriptive statistics

## Prelimineries

<b>Q1:Install the following and identify its version:</b>

1. Pandas
2. sklearn
3. numpy

In [4]:
import sklearn, pandas, numpy

print(pandas.__version__)
print(sklearn.__version__)
print(numpy.__version__)

1.4.3
1.0.2
1.22.4

## 1. Data Retrival (Cleaned) and Simple exploration

<b>Q2:Load Iris dataset from SK learn from its dataset module and do the following:</b>

1. What is the type of the data? TIPS: They extend dictionaries by enabling values to be accessed by key, bunch["value_key"], or by an attribute, bunch.value_key.

2. Identify the keys in this dataset.
3. Print its target, target names, desciption and feature names. Explain the code for each types of flower
4. Print iris data and identify the type of iris data?

In [5]:
from sklearn import datasets
iris = datasets.load_iris() #Loading the dataset
type(iris)

sklearn.utils.Bunch

A [DataFrame](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#) is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the data.frame in R.

- Each column in a DataFrame is a **Series**. 
- If you are familiar to Python dictionaries, the selection of a single column is very similar to selection of dictionary values based on the key.
- Let's store iris data inthe form of DataFrame
- we use `info` to inspect the DataFrame representation

<b>Q3:Based on loaded Iris dataset, do the following:</b>

1. Save the iris data in the form of Pandas Dataframe and name it as iris_data. Also, name the attributes based on the info obtained above. 
2. next add an extra column: the target name as its fifth attribute and print the data matrix
3. identify the type of each attributes
4. Use `head` and `tail` to inspect the first/last 5 rows
5. Compute basic statistics of this data

In [13]:
import pandas as pd
iris_data = pd.DataFrame(iris.data, columns = iris.feature_names)

<b>Q4:Based on loaded Iris dataset, do the following:</b>
- Each column in a DataFrame is a **Series**. 
- If you are familiar to Python dictionaries, the selection of a single column is very similar to selection of dictionary values based on the key.

1. Extract the sepal length from iris_data and save it as sepal_length. Check the type of this arrtibute.
2. Compute mean and standard deviation of this attribute
3. Visualize the frequency using histogram plot `matplotlib.pyplot` and state if its normal or non-normal distribution.
4. Plot a line plot of the two features :

# Bonus
<b>Q5:Load [California housing dataset](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#examples-using-sklearn-datasets-fetch-california-housing 
), and do the following:
-  Link of the details: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#examples-using-sklearn-datasets-fetch-california-housing 

1. Identify each type of attribute of California housing dataset.
2.  Answer similar questions explored with Iris dataset (from question 1-3):</b>

## 1. Manual Data Loading (Uncleaned)

<b>Q5: Load and print given rainfall dataset from epembelajaran and do the following:
  
-  Rainfall station: Site 4232001 PEKAN AIR PUTIH at TERENGGANU
    
    1. view first two column.
    2. view first 10 rows.

In [23]:
import pandas as pd
	
#load dataframe from csv
df = pd.read_csv("4731083.csv")
#print dataframe
df

           Site 4731083 SEK. KEB. BKT. BESI at ULU DUNGUN  TERENGGANU
Date                                                 Time     Rain mm
29/06/1970                                       24:00:00        3.6?
30/06/1970                                       24:00:00         0.1
01/07/1970                                       24:00:00         0.1
02/07/1970                                       24:00:00         3.5
...                                                   ...         ...
19/04/1973                                       24:00:00         2.3
20/04/1973                                       24:00:00         0.2
21/04/1973                                       24:00:00        25.0
22/04/1973                                       24:00:00         0.3
23/04/1973                                       24:00:00        0.3?

[1031 rows x 2 columns]

## 2. Data Cleaning/Preparation

<b>Q6: Do the following for Site 4731083 PEKAN AIR PUTIH at TERENGGANU
    
    1. extract the name of the rainfall from its first column and save it as station_name.
    2. drop first column which represent time and the station name from DataFrame.
    3. reset the row and column index of the dataframe and name it df_reset.
    4. remove the unnecessary column names  and rename it as df_new.
    5. reset the index as the date from column dataset.
    6. Compute the number of days of rainfall data available.
    7. Remove the "?" in the rainfall data and replace with NaN and rename this new dataframe as df_new
    
   </b>

## 3. Data Exploration

<b>Q7: Based on the cleanded dataset of Site 4731083 PEKAN AIR PUTIH at TERENGGANU, answer the following queston:
    
    1. Identify number of missing values (each '?' in rainfall indicates missing value)
    2. Identify the missing value percentage of this site.
    3. Remove all the dayd with missing values rename it as df_clean.
    4. Plot the rainfall.
    5. show its descriptive statistics (mean,median,mode,max,min etc.)

    
   </b>

# Bonus

<b>Q8:Load given rainfall dataset from Site 4232001  PEKAN AIR PUTIH at TERENGGANU and do the following:
    
1.  Clean the dataset annd plot the rainfall for this station.
2. Show its descriptive statistics.

    
</b>